{
  // "plugins": ["transform-decorators-legacy", "transform-object-rest-spread"]
  "plugins": [
    [ "@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}
