{
  "extends": "eslint-config-egg",
  "parser": "@babel/eslint-parser",
  "root": true,
  "rules": {
    "array-bracket-spacing": "off",
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }],
    "lines-between-class-members": ["off", "never"],
    "space-before-function-paren": "off"
  }
}
